.dashboard {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, white, #9090fa);
  display: flex;

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: white;
  }

  .content {
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    width: 83%;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 1rem;
  }

  
}
